@using LibreOOPWeb.Helpers;
@{

    ViewBag.Title = "Logs";

}
@if (ViewBag.shouldNotify)
{
<div id="note">
    <strong>Please note!</strong >The processing agent hasn't been online for @ViewBag.secondsOff seconds
</div>
}
<div>
    <h1>Upload raw libre reading</h1>
    <p>
    </p>

    @using (Html.BeginForm("CreateRequestAsync", "Api", FormMethod.Post))
    {
        <table>
            <tr>
                <td><label for="accesstoken">Accesstoken:</label> </td>
                <td><input type="text" id="accesstoken" name="accesstoken" size="40" /></td>
            </tr>
            <tr>
                <td><label for="b64contents">Full patch contents ( base64 encoded):</label> </td>
                <td><textarea name="b64contents" id="b64contents" rows="20" cols="100"></textarea></td>
            </tr>
            <tr>
                <td>Current BG:</td>
                <td id="currentbg" class="notavailable">NOT_AVAILABLE</td>
            </tr>
            <tr>
                <td>Generated newState</td>
                <td id="newState" class="notavailable">NOT_AVAILABLE</td>
            </tr>
        </table>

        <h3 id="showhideadvanced">Advanced options (can be blank)</h3>
        <table id="tableadvanced">
            <tr>
                <td><label for="oldState">oldstate ( base64 encoded):</label></td>
                <td><input type="text" name="oldState" id="oldState" size="60" /></td>

            </tr>
             <tr>
                <td><label for="sensorStartTimestamp">sensorStartTimestamp:</label></td>
                <td><input type="text" name="sensorStartTimestamp" id="sensorStartTimestamp" size="40" /></td>

            </tr>
            <tr>
                <td><label for="sensorScanTimestamp">sensorScanTimestamp:</label></td>
                <td><input type="text" name="sensorScanTimestamp" id="sensorScanTimestamp" size="40" /></td>

            </tr>
            <tr>
                <td><label for="currentUtcOffset">currentUtcOffset:</label></td>
                <td><input type="text" name="currentUtcOffset" id="currentUtcOffset" size="40" /></td>

            </tr>
        
        </table>
       
        <input type="submit" value="Submit raw reading for processing" />
    }
</div>

<h3>Log:</h3>
<div>
    <textarea rows="5" cols="50" readonly="readonly" id="log"></textarea>
</div>

@section Scripts {
    <script>
var testdata = "@LibreTestData.TestDataReturns63";
var testdataStartTime = @LibreTestData.TestDataReturns63SensorStartTimestamp;
var testdataScanTime = @LibreTestData.TestDataReturns63SensorScanTimestamp;
var testdataOffset = @LibreTestData.TestDataReturns63CurrentUtcOffset;
    
var $frm = $('form'),
    $log = $('#log'),
    $token =$("#accesstoken"),
    $currentbg = $("#currentbg"),
    $b64contents = $("#b64contents"),
    $oldState = $("#oldState"),
    $start = $("#sensorStartTimestamp"),
    $scan = $("#sensorScanTimestamp"),
    $offset = $("#currentUtcOffset")
    $newState = $("#newState");

var statusurl = "@Url.Action("GetStatus", "Api")";

function precisionRound(number, precision) {
  var factor = Math.pow(10, precision);
  return Math.round(number * factor) / factor;
}

function timestring2Date(astr) {
    return new Date(parseInt(astr.replace (/[^\d.]/g, '' ), 10));
}

function getStatus(uuid){

    $.ajax({
        type: "POST",
        url: statusurl,
        data: $.param({accesstoken: $token.val(), uuid: uuid}),
        success: function (data) {

            if(data.Error){
                loghelper("Error: " + data.Message);
            } else if(data.Result){
                updateLog(data.Result);

            }
        },
        error: function (data) {
            loghelper("There was a problem, check the console!");
            console.log("Problem:");
            console.log(data);
        },
    });
}

function updateLog(res){

    var updatedAt =  timestring2Date(res.ModifiedOn);
    var result = res.result;
    var uuid = res.uuid;
    var newState = res.newState;

    if (result) {
        loghelper("BG generated at " + updatedAt + ": " + result + " mgdl");
        try{
            console.log("result:" + result);
            var matches = result.match(/currentbg: (-?\d+)/i)
          var mgdl = parseInt(matches[1], 10);
          var mmol = precisionRound(mgdl / 18, 1);
          var extra = "";
          if (mgdl <= 0) {
              extra = " ( INVALID??) ";
          }
          $currentbg.removeClass("notavailable available").addClass(mgdl <= 0 ? "notavailable" : "available")
          .html(mgdl + " mgdl / " + mmol + " mmol " + extra);

          $newState.removeClass("notavailable available")
            .addClass(newState && newState.length >0 ?  "available" : "notavailable" )
            .html(newState && newState.length >0 ? newState : "");
          console.log("got newstate:" + newState);
    
        } catch(err){}
    }

    if (result === null && uuid ) {
        loghelper("Got uuid " + uuid + ", setting  timer to check status in 5 seconds");
        clearTimers();
        setupTimer(uuid);
    }

}
var timers = [];

function clearTimers() {
  for(var timer in timers) {
    if(timers.hasOwnProperty(timer)){
     window.clearInterval(timer);
    }
  }
  timers = [];
}

function setupTimer(uuid) {

    timers.push(window.setTimeout(function(){
        console.log("interval reached, uuid:" + uuid);
        getStatus(uuid);
    }, 5000));
}

function loghelper(msg){
  var now = new Date().toLocaleTimeString();
  $log.val($log.val() + "\n[" + now + "] " + msg)
  .scrollTop($log[0].scrollHeight);
}

$frm.submit(function (e) {

    e.preventDefault();

    loghelper("Submitting");
    $.ajax({
        type: $frm.attr('method'),
        url: $frm.attr('action'),
        data: $frm.serialize(),
        success: function (data) {
            if(data.Error){
                alert("There was a problem with your request: " + data.Message);
            } else if(data.Result){
                updateLog(data.Result);
            }
        },
        error: function (data) {
            loghelper("There was a problem, check the console!");
            console.log("Problem:");
            console.log(data);
        },
    });
});

// popup for example data


$b64contents.data('powertipjq', $(
    "<p><strong>Don't know what to write here?</strong></p>" +
    '<p><button class="inserttestdata">Insert Testdata</button> or<a href="https://www.base64decode.org/"> click here</a></p>' +
    '<p><a href="https://www.base64decode.org/">to learn how to encode your data to b64</a></p>'
))
.powerTip({
    placement: 'e',
    mouseOnToPopup: true
});

$oldState.data('powertipjq', $(
    "<p><strong>Don't know what to write here?</strong></p>" +
    '<p>If specified, the oldstate should be the newstate from a previous reading</p>' 
))
.powerTip({
    placement: 'e',
    mouseOnToPopup: true
});

$start.data('powertipjq', $(
    "<p><strong>Don't know what to write here?</strong></p>" +
    '<p><button class="insertstarttimestamp">Insert Testdata</button>' 
))
.powerTip({
    placement: 'e',
    mouseOnToPopup: true
});

$scan.data('powertipjq', $(
    "<p><strong>Don't know what to write here?</strong></p>" +
    '<p><button class="insertscantimestamp">Insert Testdata</button>' 
))
.powerTip({
    placement: 'e',
    mouseOnToPopup: true
});

$offset.data('powertipjq', $(
    "<p><strong>Don't know what to write here?</strong></p>" +
    '<p><button class="insertoffsettimestamp">Insert Testdata</button>' 
))
.powerTip({
    placement: 'e',
    mouseOnToPopup: true
});  
    

    
$(document.body).on("mousedown", "button.inserttestdata",function(e){
    $b64contents.val(testdata);
    console.log("b64contents to be filled");
    e.preventDefault();
})
.on("mousedown", "button.insertstarttimestamp",function(e){
    $start.val(testdataStartTime);
    e.preventDefault();
})
.on("mousedown", "button.insertscantimestamp",function(e){
    $scan.val(testdataScanTime);
    e.preventDefault();
})
.on("mousedown", "button.insertoffsettimestamp",function(e){
    $offset.val(testdataOffset);
    e.preventDefault();
})


    </script>
}