<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibreOOPWeb</title>
    <link href="/Content/bootstrap.css" rel="stylesheet"/>
    <link href="/Content/site.css" rel="stylesheet"/>
    <link href="/Content/jquery.powertip.min.css" rel="stylesheet"/>
        
    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <script src="/scripts/prettyprint.js"></script>
</head>
<body>

    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">

                    @Html.ActionLink("LibreOOPWeb", "Index", "Home", null, new { @class = "nav-item nav-link active" })
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-item nav-link" })
                    @Html.ActionLink("Upload raw libre reading", "UploadRawReading", "Home", null, new { @class = "nav-item nav-link" })

                    @Html.ActionLink("Calibrate Sensor", "CalibrateSensor", "Home", null, new { @class = "nav-item nav-link" })

                </div>
            </div>

        </nav>
    </div>


    <div class="container body-content" style="margin-top: 10px">


        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/jquery.powertip.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
